version: "3.9"

services:
  mongo:
    image: mongo:7.0
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: unidox_backend_db
    volumes:
      - mongo-data:/data/db
    command: ["--replSet", "rs0", "--bind_ip_all"]
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 5

  mongo-init:
    image: mongo:7.0
    container_name: mongo-init
    depends_on:
      mongo:
        condition: service_healthy
    restart: "no"
    entrypoint: >
      mongosh --host mongo --eval "
        try {
          rs.status();
          print('Replica set already initialized');
        } catch(e) {
          rs.initiate({_id: 'rs0', members: [{_id: 0, host: 'localhost:27017'}]});
          print('Replica set initialized!');
        }
      "

volumes:
  mongo-data: